script(type='text/javascript' src='/resources/js/jquery.min.js')
script(type='text/javascript' src='/resources/js/popper.js')
script(type='text/javascript' src='/resources/js/jquery.mCustomScrollbar.js')
script(type='text/javascript' src='/resources/js/scrollbar.js')
script(type='text/javascript' src='/vendors/bootstrap/js/bootstrap.min.js')
script(type='text/javascript' src='/vendors/slick/slick.min.js')
script(type='text/javascript' src='/resources/js/script.js')
script(type='text/javascript' src='/resources/js/profile.js')
