doctype html
head
  meta(charset='UTF-8')
  title= title
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='Polytic, is a social media platform designed to help the people fight for what they believe in,')
  meta(name='keywords' content='social media, content, polytic, politic, politician, BLM, justice, have a voice, stand for something, believe in yourself, civil rights')
  link(rel='stylesheet' type='text/css' href='resources/css/animate.css')
  link(rel='polytic icon' type='image/png' href='images/polytic/pt_icon.png')
  link(rel='stylesheet' type='text/css' href='vendors/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='resources/css/line-awesome.css')
  link(rel='stylesheet' type='text/css' href='resources/css/line-awesome-font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='resources/css/jquery.mCustomScrollbar.min.css')
  link(rel='stylesheet' type='text/css' href='vendors/fontawesome/css/all.min.css')
  link(rel='stylesheet' type='text/css' href='resources/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='vendors/slick/slick.css')
  link(rel='stylesheet' type='text/css' href='vendors/slick/slick-theme.css')
  link(rel='stylesheet' type='text/css' href='resources/css/style.css')
  link(rel='stylesheet' type='text/css' href='resources/css/responsive.css')